
body {
    margin-top: 130px;
    font-family: 'Press Start 2P', cursive;
}


.colored {
    height: 90px;
    background-color: #8594e4;
}

.colored2 {
    height: 90px;
    background-color: #967248;
    border: 2px solid #fde9c9;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
}

.colored3 {
    height: 90px;
    background-color: #7dc383;
    border: 2px solid black;
}

.colored4 {
    height: 90px;
    background-color: #8594e4;
}

.colored5 {
    height: 90px;
    background-color: #e4ba6f;
    border: 2px solid #fde9c9;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    position: relative;
}

.scritte {
    padding-top: 10px;
}

.scritte2 {
    padding-top: 10px;
    text-align: center;
}

p {
    color: white;
    line-height: 1.5rem;
    font-size: 25px
}

.mario {
    width: 100%;
    height: 100%;
}

.box {
    width: 100%;
    height: 100%;
}
